In [ ]:
#0.1>10%

In [1]:
format(123.456789,".2%")

'12345.68%'

In [2]:
type(format(123.456789,".2%"))

str

In [3]:
format(123.456789,".2f")

'123.46'

In [4]:
float(format(123.456789,'.2f'))

123.46

In [5]:
(format(123.456789,'.2f'))

'123.46'

In [6]:
format(round(123.456789,2))

'123.46'

In [7]:
print('%.2f'%(123.456789))

123.46

In [8]:
print("{0:.2f}, {1:.3f}".format(123.456789, 987.654321))

123.46, 987.654

In [9]:
int(1.5484484)

1

In [10]:
print("Hello, ", end="")
print("world")

Hello, world

In [11]:
print("Hello, ")
print("world")

Hello,
world

In [12]:
print("Hello, ", "")
print("world")

Hello,
world

In [13]:
print("Hello, ", end="***")
print("world")

Hello, ***world

In [14]:
print ( 'a' ,end = ' ' )
print ( 'a' ,end = '1234' )

a a1234

In [15]:
print("Hello, ", end="world")

Hello, world

In [16]:
print("Hello, ", "***")
print("world")

Hello,  ***
world

In [17]:
#integer
type(10)

int

In [18]:
#浮點數
type(10.0)

float

In [19]:
#int
type(10.0)

float

In [20]:
#字串
type("haha")

str

In [21]:
12+1

13

In [22]:
"12+1"

'12+1'

In [23]:
'12+1'

'12+1'

In [24]:
float(12+1)

13.0

In [25]:
print(12+1)

13

In [26]:
print(10+2.0,type(10+2.0))

12.0 <class 'float'>

In [27]:
type(12+1)

int

In [28]:
"10"+str(2.0)

'102.0'

In [29]:
int("10")+2.0

12.0

In [30]:
int("10")+2

12

In [31]:
print("數字相加",10+2)

數字相加 12

In [32]:
"數字相加",10+2

('數字相加', 12)

In [33]:
print("數字相加"+ str(10+2))

數字相加12

In [34]:
print("數字相加"+    str(10+2))

數字相加12

In [35]:
a=2
print(a)

2

In [36]:
a=a + 2
print(a)

4

In [37]:
a=100
b=200
print(a,b)

100 200

In [38]:
x=a
a=b
b=x
print(a,b)

200 100

In [39]:
a,b=100,200
print(a,b)
b,a=a,b
print(a,b)

100 200
200 100

In [40]:
k = eval(input())
print(k+10)

10
20

In [41]:
eval("3+1")

4

In [42]:
abs(-10)

10

In [43]:
max(2,3,1)

3

In [44]:
min(9,5,8)

5

In [45]:
# if boolean-expresion:
#     statement(s)

x = 65
if x > 60:
    x = x + 5
print(x)

70

In [46]:
x=65
x>60

True

In [47]:
x=5
x>60

False

In [48]:
x = 65
k = (x > 60)
print(k)
print(type(k))
print(int(k))

True
<class 'bool'>
1

In [49]:
x = 45
k = (x == 60)
print(k)
print(type(k))
print(int(k))

False
<class 'bool'>
0

In [50]:
x = 45
k = (x != 60)
print(k)
print(type(k))
print(int(k))

True
<class 'bool'>
1

In [51]:
number=0
if number>0:
    print(number,"is positive")
else:
    if number<0:
        print(number,"is negative")
    else:
        print(number,"is zero")
print("Over")

0 is zero
Over

In [52]:
number=15
if number>0:
    print(number,"is positive")
elif number < 0:
    print(number,"is negative")
else:
    print(number,"is zero")
print("Over")

15 is positive
Over

In [53]:
score=60
if(score>=80):
    print("A")
elif(score>=70):
    print("B")
elif(score>=60):
    print("C")
elif(score>=50):
    print("D")
else:
    print("E")

C

In [57]:
score=70
if(score>=80):
    print("A")
if(score>=70):
    print("B")
if(score>=60):
    print("C")
if(score>=50):
    print("D")
else:
    print("E")

B
C
D

In [55]:
numer=2
deno=0

if deno!=0:
    ans=numer/deno
    print(ans)
# print(1+1)
else:
    print("deno is zero")

deno is zero

In [60]:
c=1
while c<=2:
    print("python")
    c=c+1

python
python

In [63]:
c=1
while c<=3:
    print("python")
    c=c+1

python
python
python

In [64]:
 for count in range(0, 2):
    print(count)
    print("python")

0
python
1
python

In [66]:
for count in range(0, 4):
    print(count)
    print("python")

0
python
1
python
2
python
3
python

In [67]:
count = 1
total = 0
while count <= 10:
    total = total + count
    count = count + 1
print(total)

55

In [68]:
total = 0
for count in range(1, 11):
    total = total + count
print(total)

55

In [70]:
count = 1
total = 0
while count<=10:
    count=count+1
    total=total+count
print(total)

65

In [74]:
total=0
for count in range(2,12):
    total=total+count
print(total)

65

In [75]:
count=0
total=0
while count<=10:
    total=total+count
    count=count+2
print(total)

30

In [76]:
total=0
for count in range(0,11,2):
    total=total+count
print(total)

30

In [77]:
total=0
for count in range(0,11,3):
    total=total+count
print(total)

18

In [89]:
number=0
while True:
    if(number<5):
        print("python好棒")
        number=number+1
    else:
        break

python好棒
python好棒
python好棒
python好棒
python好棒

In [48]:
total=0
for i in range(0,14+1):
    total=total+i
print(total)

105

In [49]:
number=0
total=0

while True:
    number = number + 1
    total = total + number 
    if(total >= 100):
        break
print(number)
print(total)

14
105

In [101]:
number=0
total=0
while True:
    total = total + number 
    if(total >= 100):
        break
    number = number + 1
print(number)
print(total)

14
105

In [114]:
number=0
total=0
while True:
    number = number + 1
    total = total + number
    if(total >= 100):
        break
print(number)
print(total)

14
105

In [110]:
n=1
while n<5:
    if n==3:
        break
    n=n+1
print(n)

3

In [111]:
n=0
for x in[0,1,2,3]:
    if x%2==0:
        continue
    n+=1
print(n)

2

In [115]:
number=2
total=0

while True:
    number=number+1
    total=total+number
    if(total>=100):
        break
print(number)
print(total)

14
102

In [2]:
total = 0
for number in range(0, 10000):
    total = total + number
    if(total >=1000):
        break
print(number)
print(total)

45
1035

In [3]:
for i in range(1,10):
    for j in range(1,10):
        print(i,"*",j,"=",i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [7]:
for i in range(1, 10):
    for j in range(1, 10):
        print(i,"*",j,"=",i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [8]:
for i in range(1, 10):
    for j in range(1, 10):
        print(i, "*", j, "=", i*j)
        if(i >6):
            break

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9

In [11]:
for i in range(1,7):
    for j in range(1,10):
        print(i,"*",j,"=",i*j)
for i in range(7,10):
    j = 1
    print(i,"*",j,"=",i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9

In [15]:
for i in range(0,10):
    if(i>4):
        continue
        print("Hi")
    else:
        print(i)

0
1
2
3
4

In [18]:
for i in range(1, 5):
    for j in range(1, 5):
        print(i,"*",j,"=",i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16

In [20]:
for i in range(1,6):
    if(i<3):
        continue
    for j in range(1,6):
        print(i,"*",j,"=",i*j)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [25]:
for i in range(1,5):
    for j in range(1,5):
        print(i,"*",j,"=",i*j)
        if(i<3):
            continue

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16

In [26]:
for i in range(1,5):
    for j in range(1,5):
        print(i,"*",j,"=",i*j)
        if(i<3):
            break

1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16

In [28]:
import random

In [29]:
random.random()

0.6499898296992278

In [30]:
random.random()

0.5753614110571674

In [33]:
odd=0
even=0
for i in range(0,10):
    print(i,random.randint(1,100))
    if(random.randint(1,100)%2!=0):
        odd=odd+1
    elif(random.randint(1,100)%2==0):
        even=even+1
print("奇數:",odd,"偶數:",even)

0 66
1 4
2 71
3 13
4 4
5 64
6 36
7 14
8 67
9 84
奇數: 5 偶數: 2

In [43]:
odd  = 0
even = 0
for i in range(0, 10):
    num = random.randint(1, 100)
    print(i, num)
    if(num%2!=0):
        odd = odd+1
    elif(num%2==0):
        even = even+1
print("奇數:", odd, "偶數:", even)

0 94
1 44
2 50
3 53
4 94
5 82
6 82
7 44
8 92
9 87
奇數: 2 偶數: 8

In [46]:
num=6
sign=0
for i in range(2,num):
    if(num%i==0):
        print(num,"不是質數.因為",num,"%",i,"等於 0")
        sign=1
        break

if(sign==0):
    print(num,"是質數.")

6 不是質數. 因為 6 % 2 等於 0

In [47]:
for q in range(2, 10):
    num = q
    sign = 0
    for i in range(2, num):
        if(num % i == 0):
            print(num, "不是質數. 因為", num, "%", i, "等於 0")
            sign = 1
            break

    if(sign==0):
        print(num, "是質數.")

2 是質數.
3 是質數.
4 不是質數. 因為 4 % 2 等於 0
5 是質數.
6 不是質數. 因為 6 % 2 等於 0
7 是質數.
8 不是質數. 因為 8 % 2 等於 0
9 不是質數. 因為 9 % 3 等於 0

In [52]:
total=0
for i in range(0,14+1):
    total=total+i
print(total)

105